<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Default" connectionString="Persist Security Info=False;User ID=sa;Password=Sql@2019;Initial Catalog=BillingDb;Data Source=INDIA-DEBASIS\SQL2019" providerName="System.Data.SqlClient" />-->
    <add name="Default" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=BillingDb.accdb;Persist Security Info=False;" />
  </connectionStrings>
</configuration>